@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.4;
  background-color: #ecf0f1; }

.container {
  max-width: 1300px;
  margin-top: 20px; }

.pagination {
  margin-top: 10px;
  justify-content: center; }

.hidden {
  display: none !important; }

a:hover {
  text-decoration: none;
  color: #ff6200; }

#no-login {
  margin-top: 100px;
  text-align: center; }

#navbar {
  display: flex;
  background: #4383af;
  color: #fff;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
  height: 75px;
  padding: 0 75px; }
  #navbar ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding-bottom: 0;
    margin-bottom: 0; }
    #navbar ul #home {
      font-size: 30px;
      font-family: 'Bangers', cursive;
      text-decoration: none;
      color: #fff; }
    #navbar ul #search_form {
      display: flex;
      padding: 10px;
      align-items: center; }
      #navbar ul #search_form input {
        border-radius: 5px;
        height: 40px; }
      #navbar ul #search_form button {
        margin-left: 10px;
        background: #4383af;
        color: #fff;
        font-weight: 600;
        border: 2px solid #fff;
        padding: 6px;
        border-radius: 5px;
        cursor: pointer; }
        #navbar ul #search_form button .fa-search {
          margin-left: 7px; }
    #navbar ul .fa-kiwi-bird {
      padding-right: 10px;
      font-size: 30px; }
    #navbar ul li a {
      text-decoration: none;
      color: inherit;
      font-weight: 600; }
    #navbar ul li:hover {
      border-bottom: 5px #fff solid;
      height: 125px;
      padding-top: 74px;
      margin-bottom: 50px;
      opacity: 0.8; }
    #navbar ul li .fa-user-alt {
      margin-right: 7px;
      font-size: 25px; }

.card {
  width: 100%;
  margin-top: 10px; }
  .card #about {
    padding: 20px;
    text-align: center; }
  .card .card-body {
    margin-top: 30px;
    align-items: center;
    display: flex; }
    .card .card-body .likes {
      display: flex;
      flex-direction: column;
      margin-right: 20px; }
      .card .card-body .likes .form-group {
        align-self: center; }
        .card .card-body .likes .form-group .btn {
          display: block;
          margin: 0 auto;
          border: 2px solid;
          border-radius: 10px;
          font-weight: 800; }
      .card .card-body .likes .news_counter {
        text-align: center;
        width: 75px;
        align-self: center;
        border: 5px solid #4383af;
        padding: 15px 5px;
        border-radius: 40%;
        font-size: 20px;
        font-weight: 700;
        color: #ff6200;
        margin-bottom: 10px; }
    .card .card-body .miniature {
      margin-right: 20px; }
      .card .card-body .miniature img {
        width: 250px;
        height: 180px; }
    .card .card-body .news_info_view {
      display: flex;
      flex-direction: column; }
      .card .card-body .news_info_view s h2 {
        margin-bottom: 50px;
        color: #ff6200; }
      .card .card-body .news_info_view p {
        font-size: 22px; }
  .card .details_btn {
    margin-bottom: 10px;
    margin-right: 10px;
    width: 100px;
    align-self: flex-end; }

.user_info {
  display: flex;
  background: #fff;
  padding: 20px;
  justify-content: space-between; }
  .user_info div {
    display: flex;
    margin-right: 10px; }
    .user_info div #update_user {
      font-size: large;
      align-self: flex-end; }
  .user_info img {
    margin-left: 10px; }
  .user_info p {
    align-self: flex-end;
    margin-left: 10px;
    font-size: 28px;
    color: #ff6200; }

#user_update_form {
  margin-top: 20px;
  background: #fff;
  padding: 50px; }

#login,
#register {
  background: #fff;
  width: 60%;
  display: block;
  margin: 0 auto;
  margin-top: 100px;
  text-align: center;
  padding: 50px 100px; }
  #login .label,
  #login .btn,
  #register .label,
  #register .btn {
    font-size: 24px; }

.controls {
  display: flex;
  justify-content: space-between;
  padding: 0 10px; }

.source {
  display: block;
  margin: 15px auto;
  font-size: 20px; }

.comment-author {
  border-left: 5px solid #ff6200; }

.comment {
  display: block;
  margin: 0 auto;
  width: 80%;
  background: #fff;
  padding: 20px;
  margin-top: 20px; }
  .comment p {
    font-size: 20px; }

.comment-form {
  width: 80%;
  display: block;
  margin: 0 auto; }
  .comment-form .comment-label {
    margin-top: 30px;
    font-size: 24px;
    font-weight: 400; }

.label {
  font-size: 24px; }

.submit-news .btn {
  display: block;
  margin: 15px auto;
  font-size: 24px;
  width: 150px; }

.form-control-file {
  font-size: 22px;
  padding: 5px 10px;
  border: none; }

footer {
  width: 100%;
  height: 8vh;
  background-color: #4383af; }
  footer p {
    text-align: center;
    color: #fff;
    padding-top: 20px;
    font-size: 24px; }

@media (max-width: 1024px) {
  #navbar {
    font-size: 1rem;
    padding: 0; }
  .news_info h2 {
    font-size: 26px; } }

@media (max-width: 768px) {
  #navbar {
    padding: 0 5px; }
    #navbar #home {
      font-size: 25px;
      display: flex; }
    #navbar ul li {
      padding: 0 5px; }
  .fa-user-alt,
  .fa-kiwi-bird {
    display: none; }
  #search_form {
    display: flex;
    align-items: center;
    padding: 0; }
    #search_form input {
      border-radius: 5px;
      width: 150px;
      height: 35px; }
    #search_form button {
      font-size: 0;
      margin-left: 0px;
      width: 50px; }
      #search_form button .fa-search {
        margin-left: 7px;
        font-size: initial; }
  .card .card-body {
    margin-top: 10px;
    padding: 10px; }
  .news_info .card-text {
    display: none; } }
