<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <ul>
        <li class='nav-link'>
            <a href="{{url_for('core.index')}}">Home</a>
        </li>
        <li class='nav-link'>
            <a href="{{url_for('core.info')}}">About</a>
        </li>
    </ul>

    <div class="container">
        {% block content %}

        {% endblock %}
    </div>
</body>

</html>