{%extends 'base.html'%} {%block content%}
<div class="container">
  <form class="form-group" method="POST">
    {{form.hidden_tag()}}
    <div class="form-group">
      {{form.title_news.label(class='form-control-label')}}
      {{form.title_news(class='form-control form-control-lg')}}
    </div>
    <div class="form-group">
      {{form.text_news.label(class='form-control-label')}}
      {{form.text_news(class='form-control form-control-lg')}}
    </div>
    <div class="form-group">
      {{ form.picture_link.label(class="form-group") }} {{
      form.picture_link(class="form-control-file") }}
    </div>
    <div class="form-group">
      {{ form.link.label(class="form-group") }} {{
      form.link(class="form-control-file") }}
    </div>
    <div class="form-group">
      {{form.submit_news(class='btn btn-outline-info')}}
    </div>
  </form>
</div>
{%endblock%}