{% extends "base.html" %}
{% block content %}
{% for news in found_news %}
<div class="card">
    <div class="card-body">
        <div class='likes'>
            <div class="news_counter">{{news.likes}}</div>
        </div>
        <div class="miniature">
            {% if news.picture_link%}
            <img src="{{news.picture_link}}" alt="">
            {% else %}
            <img src="{{ url_for('static', filename='default.jpeg') }}">
            {% endif %}
        </div>
        <div class="news_info">
            <h2><a class="card-title"
                    href="  {{ url_for('news_group.news_view', news_id=news.id) }}">{{ news.title }}</a></h2>
            <p>Added by:<a href="{{ url_for('users.user_news', username=news.author.username) }}">
                    {{ news.author.username }}</a></p>
            <p>Published on: {{ news.date.strftime('%d-%m-%Y') }}</p>
            <p class="card-text">{{ news.text[:100] }}...</p>
        </div>
    </div>
    <a href="{{ url_for('news_group.news_view', news_id=news.id) }}" class="details_btn btn btn-primary">Details</a>
</div>
{% endfor %}
{% endblock %}