{%extends 'base.html'%}
{%block content%}
<div class="container">
    <div class="card">
        <div class="card-body">
            <div class='likes'>
                <p>{{news.likes}}</p>

                {% if current_user.id==like.user_id and news_id == like.news_id%}
                <div class="dislike">
                    <form class='form-group' method='POST'>
                        {{form_dislikes.hidden_tag()}}

                        <div class="form-group">
                            {{form_dislikes.submit_dislike(class='btn btn-outline-info')}}
                        </div>
                    </form>
                </div>
                {% else %}

                <div class="like">
                    <form class='form-group' method='POST'>
                        {{form_likes.hidden_tag()}}

                        <div class="form-group">
                            {{form_likes.submit_like(class='btn btn-outline-info')}}
                        </div>
                    </form>
                </div>
                {% endif %}
            </div>
            <div class="miniature">
                {% if news.picture_link%}
                <img src="{{news.picture_link}}" alt="">
                {% else %}
                <img src="{{ url_for('static', filename='default.jpeg') }}">
                {% endif %}
            </div>
            <div class="news_info_view">
                <h2>{{ news.title }}</h2>
                <p class="card-text">{{ news.text}}</p>
            </div>
        </div>

        {%if news.author == current_user%}
        <div class="controls">
            <a href="{{url_for('news_group.update',news_id=news.id)}}">Update</a>
            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#del_modal">Delete</button>
        </div>
        {%endif%}
    </div>

    <div class="comments">
        {% for comment in comments %}
        <p>Comment: {{comment.text}}</p>
        <p>User: {{comment.user_name}}</p>
        {% endfor %}
    </div>



    {% if current_user.is_authenticated %}
    <form class='form-group' method='POST'>
        {{form_comment.hidden_tag()}}
        <div class="form-group">
            {{form_comment.text.label(class='form-control-label')}}
            {{form_comment.text(class='form-control form-control-lg')}}
        </div>
        <div class="form-group">
            {{form_comment.submit_comment(class='btn btn-outline-info')}}
        </div>
    </form>
    {% endif %}
</div>


<div class="modal" tabindex="-1" role="dialog" id="del_modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete News?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete the news?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
                <form action="{{url_for('news_group.delete_news',news_id=news.id)}}" method="POST">
                    <input type="submit" class="btn btn-danger" value="Delete">
                </form>
            </div>
        </div>
    </div>
</div>

{%endblock%}